li {
    list-style: none;
}

.navHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    background: aqua;
    padding: 10vh;
    font-size: 40px;
    margin-bottom: 10px;
}

.navFlex {
    display: flex;
}

.navBarTile {
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    justify-items: left;
}

.noteSelection {
    display: flex;
    border-style: solid;
    margin-left: 20px;
    width: 100%;
}

.noteSelection h1 {
    color: red
}

.noteSelection p {
    color: purple;
}

.noteSelection button {
    color: green;
}